<main role="main" class="container">
    <h1 class="mt-5">Bem-vindo(a) à URNAWEB!</h1>
    <p class="lead">
        Aproveite a URNAWEB para praticar a atividade democrática e se preparar para o grande dia. 
        Afinal, não há forma melhor de se compreender o exercício da democracia do que pela prática!
    </p>
    <p>
        * A URNAWEB é um projeto sem fins lucrativos elaborado com 💗 para todos e todas!
    </p>
</main>